@font-face {
    font-family: "Golos Text";
    src: url("/fonts/Golos_Text/static/GolosText-Regular.ttf") format("truetype"),
         url("/fonts/Golos_Text/static/GolosText-Bold.ttf") format("truetype"),
         url("/fonts/Golos_Text/static/GolosText-Medium.ttf") format("truetype"),
         url("/fonts/Golos_Text/static/GolosText-SemiBold.ttf") format("truetype"),
         url("/fonts/Golos_Text/static/GolosText-ExtraBold.ttf") format("truetype"),
         url("/fonts/Golos_Text/static/GolosText-Black.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
  }
  
  body {
    font-family: "Golos Text", sans-serif;
  }
  