# Python
*.pyc
__pycache__/
*.pyo
*.pyd
*.env
*.venv
*.egg
*.egg-info
dist/
build/
*.log
*.pot
*.mo
*.log
*.db

# Django specific
*.env  # Виртуальные окружения и переменные окружения
db.sqlite3  # База данных SQLite, если используется
/static/
media/

# Migrations
**/migrations/

# MyPy
.mypy_cache/

# Pytest
.cache/

# Venv
venv/
env/
ENV/

# Coverage reports
htmlcov/
.coverage
.tox/
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover

# IDEs
.vscode/
.idea/
*.iml

# macOS
.DS_Store

# Docker
docker-compose.override.yml

# Игнорировать папку node_modules
node_modules/
public/images/boxIcon.svg

# Игнорировать папку сборки .next
.next/

# Игнорировать любые .rar файлы
*.rar
