@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("./styles/GolosText.css");

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #003C46;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}

/* Стили для автозаполнения в Chrome */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px #003C46 inset !important;
    -webkit-text-fill-color: white !important;
    transition: background-color 5000s ease-in-out 0s;
}

/* Стили для автозаполнения в Firefox */
input:autofill,
input:autofill:hover,
input:autofill:focus,
input:autofill:active {
    box-shadow: 0 0 0 30px #003C46 inset !important;
    -webkit-text-fill-color: white !important;
    font-size: inherit !important;
}

/* Убираем рамку при фокусе */
input:focus {
    outline: none !important;
}