@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("./styles/GolosText.css");

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #003C46;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}
